/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/*General*/
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.h1{
    font-size: 4rem;
    margin:4rem 0 ;
}

.titolo{
    font-size: 4rem;
    margin: 4rem 0 2rem;
}

.sottotitolo{
    margin: auto;
    font-size: 2.5rem;
    padding: 3rem 2rem 0;
}
.testo{
    font-size: 1.5rem;
    margin: 2rem 0;
    line-height: 2rem;
}

.center{
    text-align: center;
}

.bianco{
    color: white;
}

/*Stili Bottoni*/
.button-header{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.5rem;
}

.button{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 2rem;
}

.button-blue{
    color: white;
    background-color:rgb(114, 137, 218);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 2rem;
    align-self: center;
}

.button-negative{
    background-color: rgb(35 39 42);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 2rem;
    margin: 20px;
}

/*Stili Header*/
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar{
    background-color:rgb(37 94 233);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

}

.toolbar-box{
    width: 20%;
    align-self: center;
    padding: 1rem ;
}



/*Stili sezioni Toolbar*/
.centrale{
    text-align: center;    
}

.destra{
    text-align: right;
    padding-right: 10px;
}


/*Stili Hero*/
.container{
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.boxheader{
    width: 60%;
    margin: 6rem 0 9rem;
    color: white;
}

/*Stili Sezioni Main*/
.row{
    width: 100%;
    margin: 4rem auto 0;
}

.grigia{
    background-color: rgb(246 246 246);
}
.sezione-due-porzioni{
    width: 70%;
    display: flex;
    margin: auto;
}

.porzione-immagine{
    width: 70%;
    margin: 20px 0;
    background-size: cover;
}


.inversa{
    flex-direction: row-reverse;
}

.box{
    width: 100%;
    margin: 10px auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}

.sezione4{
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
}

.scura{
    background-color:rgb(35 39 42);
}

.card-grossa{
    width: 30%;
    margin: 10px auto 20px;
}

.card{
    width: calc(70% / 4);
    margin: 10px auto 20px;
    display: flex;
    flex-direction: column;
}

.stelline{
    display: flex;
    background-image: url(../img/stars.svg);
    background-size: cover;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

/*Stili Footer*/
.row-footer{
    width: 100%;
    margin: auto;
    background-color:rgb(35 39 42);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}
.footer{
    width:70% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.btn{
    background-color: gray;
    border: var(--border);
    margin: 10px 0;
}

.titolo-footer{
    font-size: 2.5rem;
    color:rgb(112, 134, 213) ;
    padding-right: 2rem;
}

.ul-footer{
    display: flex;
    flex-direction: column;
}

.li-footer{
    font-size: 1.5rem;
    margin: 0.5rem;
    color: white;
    padding: 0;
}
.li-footer-blue{
    font-size: 1.5rem;
    margin: 0.5rem;
    color: rgb(112, 134, 213);
    padding: 0;
}

.bandiera{
    margin: 2rem 0.2rem;
    height: 20px;
}

span{
    color: white;
    font-size: 1rem;
    margin: 2rem 0.2rem;
}

.box-contatti{
    display: flex;
    flex-direction: column;
}

.box-lingua{
    display: flex
}

hr{
    width: 70%;
    margin: auto;
    color: rgb(112, 134, 213);
    height: 2px;
}

.button-blue-footer{
    color: white;
    background-color:rgb(114, 137, 218);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.5rem;
    align-self: center;
}
